NODE_ENV=development
PORT=5000
DATABASE_URL="mysql://root:Reverse%40321@localhost:3306/mymanager"
FRONTEND_URL="http://localhost:3000,http://localhost:3001,http://192.168.0.233:3000,http://192.168.0.233:3001"
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
JWT_ACCESS_SECRET="replace-with-a-long-random-secret-min-32-chars"
JWT_ACCESS_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_DAYS=14
REFRESH_TOKEN_COOKIE_NAME="mm_refresh_token"
